<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}University Hub{% endblock %}</title>
</head>
<body>
    <nav>
        <h1>University Hub Portal</h1>
        <a href="/Academic/courses/">Courses</a>
        <a href="/Academic/departments/">Departments</a>
        <a href="/Academic/students/">Students</a> | <a href="/admin/">Admin</a>

        {% if user.is_authenticated %}
            <span>Welcome, {{ user.username }}!</span>
            <!-- <a href="{% url 'logout' %}">Logout</a> -->
             <from action = "{% url 'logout' %}" method = "post" style = "display: inline;">
                {% csrf_token %}
                <button type="submit">Logout</button>
        {% endif %}
    </nav>

    <hr>
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <hr>

    <footer>
        <p>&copy; 2024 University Hub. All rights reserved.</p>
    </footer>
</body>
</html>